Pflichtenheft/chapters/__latexindent_temp.tex

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#documents
Implementierung.pdf

#latex
*.aux
*.log
*.toc
*.synctex.gz
*.fls
*.out
*.fdb_latexmk

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/out
